html {
  font-size: 18px;
}

.site-container {
  width: 960px;
}

/* Header */
header {
  background-color: black;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
}

header h3 {
  display: inline;
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  color: white;
}
