html {
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: black;
  color: white;
}
header .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}
.container img {
  height: 1.5rem;
  padding-right: 15px;
}

header h3 {
  display: inline;
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  color: white;
  padding-left: 1rem;
}

/* main banner */
.main-banner {
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo {
  background-color: black;
  padding: 2em 3em;
  width: 20rem;
  font-family: Helvetica;
  font-weight: bold;
  position: relative;
}

.promo h3 {
  font-size: 1rem;
}

.promo h2 {
  font-size: 2rem;
}

/* navigation bar */

nav {
  background-color: firebrick;
}
a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}
/* main content */
.content-container {
  display: flex;
  flex-direction: column;
}

.highlights {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.product {
  width: 30%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.product img {
  height: 9rem;
  padding: 2rem;
  border: 4px solid black;
}

.product h4 {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.contact .info {
  padding-left: 2rem;
  background-color: black;
  color: white;
  width: 35%;
}

footer {
  height: 5rem;
  text-align: left;
  background-color: black;
  color: white;
}
